* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
  transition: all 0.3 linear;
}
:root {
  --color-primary: #b28756;
}
body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.p-button {
  display: flex;
  text-decoration: none;
  color: #fff;
  background: var(--color-primary);
  font-weight: 600;
  font-size: 13px;
  padding: 10px 30px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s linear;
  width: max-content;
  &:hover {
    opacity: 0.8;
  }
}

.swiper-pagination-bullet {
  background-color: var(--color-primary) !important;
}
